/*直播1*/
.broadcast{ width:100%; height:350px; overflow:hidden;}
.broadcast img{ width:100%; height:100%;}
.broadcast_p1{ font-size:30px; color:#fbacfe; width:100%; box-sizing:border-box; height:100px; line-height:100px; background:#2b2b2b url(../img/broadcast/1_05.png) no-repeat 20px center; padding:0 20px; padding-left:65px; overflow:hidden;}
.broadcast_p2{ font-size:30px; color:#565656; width:100%; box-sizing:border-box; height:100px; background:#fff; padding:30px 20px; overflow:hidden; border-bottom:1px solid #d6d6d6;}
.broadcast_s1{ height:40px; border-left:6px solid #fbacfe; padding-left:15px; padding-right:60px; }
.broadcast_ul{ background:#fff; margin-top:20px; overflow:hidden; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; padding:0 20px; }
.broadcast_ul li{ padding: 25px 0; border-bottom:1px solid #d6d6d6; overflow:hidden;}
.broadcast_ul li img{ width:76px; height:76px; float:left;}
.broadcast_ul_d1{ float:right; width:500px;}
.broadcast_ul_d1_p1{ overflow:hidden; font-size:26px; color:#555; line-height:50px;}
.broadcast_ul_d1_p1_s1{ float:left;}
.broadcast_ul_d1_p1_s2{ float:right; color:#bfbfbf;}
.broadcast_ul_d1_p2{ font-size:24px; color:#b6b6b6; line-height:38px; height:114px; overflow:hidden; }
.broadcast_foot{ background:#e1e1e1; height:96px; padding:20px; width:100%; overflow:hidden;}
.broadcast_foot input{ font-size:28px; color:#929292;  border:1px solid #d6d6d6; border-radius:10px; background:#fff; width:76%; height:56px; line-height:54px; padding:0 10px; float:left;}
.broadcast_foot .broadcast_foot_inp{ width:22%; float:right; padding:0;}

/*直播-忘记密码*/
.broadcast_forget_out{ position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:8888;}
.broadcast_forget{ background:#fff; border-radius:10px; margin:15% 50px 0; padding:30px 40px 70px;}
.broadcast_forget_p1{ text-align:right;}
.broadcast_forget_p2{ font-size:34px; color:#555; line-height:70px; text-align:center; margin-top:20px;}

.broadcast_forget_d1{ }
.broadcast_forget_d1_p1{ width:100%; margin-bottom:30px; background:#f3f3f3; border-radius:9px; height:80px; padding:10px 0; border:1px solid #d6d6d6;}
.broadcast_forget_d1_s1{ width:60px; display:inline-block; height:60px; float:left; background:url(../img/broadcast/3--2_07.png) no-repeat center;}
.broadcast_forget_d1_s2{ background:url(../img/broadcast/3--2_10.png) no-repeat center;}
.broadcast_forget_d1_s3{ background:url(../img/broadcast/3--2_12.png) no-repeat center;}
.broadcast_forget_d1_p1 input{ width:75%; border:none; height:60px; line-height:60px;  background:#f3f3f3; font-size:30px; color:#a6a6a6;font-family:"微软雅黑";}
.broadcast_forget_d1_p3{ width:100%; margin-bottom:10px;}
.broadcast_forget_d1_p3 input{ background:#5651b6; border-radius:9px; height:80px; line-height:80px; font-size:34px; color:#fff; width:100%;}
/*.broadcast_forget_d1_p2{ line-height:50px; font-size:24px; padding-left:30px;}
.broadcast_forget_d1_p2 label input{ display:none;}
.broadcast_forget_d1_p2 label span{ width:32px; height:29px; background:url(../img/entry/check.png) no-repeat left center; display:inline-block; float:left; margin-top:11px; margin-right:5px;}
.broadcast_forget_d1_p2 label span.curr{ background:url(../img/entry/check2.png) no-repeat left center;}
*/
.broadcast_forget_d1_d1{ overflow:hidden;}
.broadcast_forget_d1_d1 .broadcast_forget_d1_p1{ width:62%; float:left;}
.broadcast_forget_d1_d1 a{ background:#aaa8da; border-radius:9px; height:80px; line-height:80px; font-size:26px; color:#fff; width:35%; float:right; display:inline-block; text-align:center; }

.broadcast_forget_p3{ text-align:center; padding:30px 60px;}
.broadcast_forget_p3 img{ width:100%;}

.broadcast_forget_p4{ line-height:70px; overflow:hidden; }
.broadcast_forget_p4_a1{ font-size:30px; color:#f39700; float:left;}
.broadcast_forget_p4_a2{ font-size:30px; color:#a6a6a6; float:right;}

.broadcast_forget_p5{ padding:40px 0 0; font-size:30px; color:#555; text-align:center;}
.broadcast_forget_p6{ line-height:280px; font-size:100px; color:#f39800; text-align:center;}

/*直播2*/
.poster-main {
	position: relative;
	width: 640px;
	height: 255px;
	margin:25px 0;
}

.poster-main a,
.poster-main img {
	display: block;
	width: 100%;
	height: 92%;
}

.poster-main .poster-list {
	width: 640px;
	height: 255px;
}

.poster-main .poster-list .poster-item {
	position: absolute;
	left: 0;
	top: 0;
}

.poster-main .poster-btn {
	position: absolute;
	top: 0;
	width: 100px;
	height: 255px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.8
}

.poster-main .poster-prev-btn {
	left: 0;
	background:url(../img/broadcast/btn_l.png) no-repeat center center;
}

.poster-main .poster-next-btn {
	right: 0;
	background:url(../img/broadcast/btn_r.png) no-repeat center center;
}
.broadcast1_ul{ overflow:hidden; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;  }
.broadcast1_ul li{ padding: 25px 0; border-bottom:1px solid #d6d6d6; overflow:hidden; margin:0 20px;}
.broadcast1_ul_img1{ width:38px; height:63px; float:left; margin-left:10px; margin-top:6px;}
.broadcast1_ul_d1{ float:right; width:520px; overflow:hidden;}
.broadcast1_ul_d1 img{ width:76px; height:76px; float:left;border-radius: 76px; }
.broadcast1_ul_d1 div{ float:left; margin-left:20px;}
.broadcast1_ul_p1{ font-size:26px; color:#555; line-height:50px;}
.broadcast1_ul_p2{ font-size:24px; color:#b6b6b6; line-height:26px;}
.broadcast1_ul_p3{ font-size:24px; color:#999; line-height:76px; float:right;}
#pullUp span{  font-size:26px; color:#555; line-height:50px; text-align:center; width:100%; display:inline-block;}

.broadcast_forget1{ border-radius:10px; margin:15% auto 0; width:508px; height:663px; position:relative; overflow:hidden;}
.broadcast_forget1_img{ width:508px; height:663px;}
.broadcast_forget1_p1{ position:absolute; right:20px; top:20px; width:34px; height:25px;}








































